@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

/*text and bg color*/
:root {
    --first-color: #e30716;
    --second-color: white;
    --third-color: black;
    --four-color: #ff5151;
}

/*header*/

#navbarSupportedContent {
    margin-left: 80px;
}

#navbarSupportedContent ul li a {
    margin-left: 17px;
    font-size: 14px;
}

.nav-link {
    color: #fff !important;

}

.nav-link:hover {
    color: var(--first-color) !important;
}

.nav-link-active:hover {
    color: #fff !important;
    text-decoration: none;

}

.navbar-toggler {
    background-color: var(--first-color) !important;

}

.navbar-toggler-icon {
    color: var(--first-color) !important;
}

.nav-link-active {
    color: var(--first-color) !important;
    text-decoration: none;
}

.lolo {

    background: -webkit-linear-gradient(0deg, #E52C39 7.98%, #0085F3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-style: normal;
    font-size: 25px;
    margin-top: 10px;
}

#su {
    font-size: 9px;
    color: var(--second-color);
    background-color: transparent;
    padding-left: 30px;
    padding-right: 30px;

    border-radius: 20px 20px 20px 20px;
    font-weight: 600;
    background: linear-gradient(#000, #000) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    border-radius: 50em;
    border: 2px solid transparent;


}


#su:hover {
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    color: var(--third-color);
}

#su-2 {
    font-size: 9px;
    color: var(--second-color);
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid gray !important;
    font-weight: 600;
    border-radius: 20px 20px 20px 20px;

}

#su-2:hover {
    background-color: var(--second-color);
    color: var(--third-color);
}

#su-1 {
    font-size: 9px;
    color: var(--second-color);
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid gray !important;
    font-weight: 600;
    border-radius: 20px 20px 20px 20px;

}

#su-1:hover {
    background-color: var(--second-color);
    color: var(--third-color);
}

.flag {
    width: 20%;
}

#en {
    font-size: 14px !important;
}

.navbar-bg {
    min-height: 55px !important;
    background-color:transparent;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navbar-bg2 {
    background-color: black;
    transition: all .2s ease-in-out;
    animation: smoothScroll 1s forwards;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}

/*footer*/

.footer-bg {
    background-color: #1F2024;
    padding: 1% 0%;
}

.atb {
    color: #fff;
    margin-left: 30px;
    margin-top: 80px;
    font-size: 17px;
}

.py {
    color: #e3dcdc;
    font-size: 13px;
    line-height: 30px;
}

.py:hover {
    color: #E52C39;
}

.size {
    width: 35px;

    margin-left: 5px;
}

.lolo-1 {

    background: -webkit-linear-gradient(0deg, #E52C39 7.98%, #0085F3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-style: normal;
    font-size: 45px;
    margin-top: 10px;
    width: 150px;
}

.pys {
    width: 131%;
}

.los {
    font-size: 12px;
    color: #fff;
    margin-bottom: 0px;
    margin-top: 10px;
}

.ssa {
    background:
        linear-gradient(to right, #0085F3 7.98%, #E52C39 100%) border-box;

    height: 2px;
    width: 100%;
}

.xyz {
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: normal;
    color: #fff;
    margin-top: 23px;
}

#co-us {
    font-size: 11px;
    color: var(--second-color);
    background-color: transparent;
    padding-left: 30px;
    padding-right: 30px;

    border-radius: 20px 20px 20px 20px;
    font-weight: 600;
    background: linear-gradient(#1F2024, #1F2024) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    margin-top: 20px;
    padding-top: 13px;
    padding-bottom: 13px;


}


#co-us:hover {
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    color: var(--third-color);
}

.have {
    color: #fff;
}

.ours {
    color: #fff;
}

#con-up {
    padding: 25px 0px 15px 45px;
    position: absolute;
    margin-top: -65px;
    margin-left: 9%;
    border-radius: 15px 15px 15px 15px;
    background-color: #303138;
    width: 80%;
}

#foot {
    margin-top: 10%;
}

.fd {
    margin-left: 10%;

}

/* instruments */
#balc {
    background-image: url('../Assets/image/Rectangle 1.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    background-size: 100%;
}

.trade {
    color: #fff;
    margin-top: 40%;
    font-size: 60px;
    font-weight: bolder;
    background: -webkit-linear-gradient(0deg, #B1BFE1 0%, #FFFFFF 29%, #E52C39 55%, #0085F3 85%, #E5E9F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tare {
    font-size: 18px;
    color: #fff;
}

#sus {
    font-size: 12px;
    color: var(--second-color);
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px 20px 20px 20px;
    font-weight: 600;
    background: linear-gradient(#000, #000) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    border-radius: 50em;
    border: 2px solid transparent;


}


#sus:hover {
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    color: var(--third-color);
}

.handle-balls {
    margin-top: 45%;
}

.cur {
    margin-top: 15%;
}

#cir {
    width: 70%;
    margin-top: 20px;
}

.curren {
    background: -webkit-linear-gradient(0deg, #E52C39 7.98%, #0085F3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    letter-spacing: 1px;
    width: 110px;
}

.fores {
    font-weight: bolder;

}

.lorems {
    font-size: 13px;
}

#pips {
    width: 30%;
}

.spre {
    margin-left: -23%;
    font-weight: 500;
}

#suss {
    font-size: 12px;
    color: var(--first-color);
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px 20px 20px 20px;
    font-weight: 600;
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    margin-top: 7%;

}


#suss:hover {
    background: linear-gradient(#000, #000) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    color: var(--second-color);
}

#spot {
    background-image: url('../Assets/image/section.section-spacing.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    background-size: 100%;
}

.curren-1 {
    background: -webkit-linear-gradient(0deg, #E52C39 7.98%, #0085F3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    letter-spacing: 1px;
    width: 110px;
}

.fores-1 {
    font-weight: 500;
    color: #fff;
}

.lorems-1 {
    font-size: 13px;
    color: #fff;
}

#pips-1 {
    width: 30%;
}

.spre-1 {
    margin-left: -23%;
    font-weight: 500;
    color: #fff;
}

.cur-1 {
    margin-top: 50px;
}

#suss-1 {
    font-size: 12px;
    color: var(--first-color);
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px 20px 20px 20px;
    font-weight: 600;
    background: linear-gradient(#1F2024, #1F2024) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    margin-top: 7%;

}


#suss-1:hover {
    background: linear-gradient(#000, #000) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    color: var(--second-color);
}

#cir-1 {
    margin-top: 80px;
    width: 70%;
}

.to {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    /* background: -webkit-linear-gradient(0deg, #E52C39 7.98%, #0085F3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    letter-spacing: 2px;
    width:100px; */
    letter-spacing: 2px;
}

.with {
    display: flex;
    justify-content: center;
    text-align: center;
}

.enter {
    display: flex;
    justify-content: center;
    text-align: center;
}

#doller {
    width: 20% !important;

}

.regu {
    font-size: 19px;
    margin-top: 10px;
}

.we {
    font-size: 12px;
}

#susm {
    font-size: 12px;
    color: var(--first-color);
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px 20px 20px 20px;
    font-weight: 600;
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    margin-top: 30%;

}


#susm:hover {
    background: linear-gradient(#000, #000) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    color: var(--second-color);
}
/* market */
#bla{
    background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #000 !important;
        height: 500px;
        background-size: 100%;
}.trade-1 {
    color: #fff;
    margin-top: 30%;
    font-size: 60px;
    font-weight: bolder;
    background: -webkit-linear-gradient(0deg, #B1BFE1 0%, #FFFFFF 29%, #E52C39 55%, #0085F3 85%, #E5E9F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#box{
    width: 70%;
    margin-top: 80px;
}

.tare-1 {
    font-size: 18px;
    color: #fff;
}.checks{
    display: flex;
justify-content: center;
text-align: center;
font-weight: 500;
}#sop{
    margin-top: 5%;
}.dec{
    width: 40% !important;
}.table thead tr th{
    border: none !important;
    font-weight: bolder;
}.table tbody tr td{
    border: none !important;
    padding-top: 30px;

}
.table tbody tr:hover{
    border: none !important;
    padding-top: 30px;
    background-image: linear-gradient(180deg,#0085F3 0%, #E52C39 100%);;
    color: #fff;
}
#sop-1{
    margin-top: 3%;
}.le{
   width: 18%;
}#blackbox{
    width: 25px;
    height: 25px;
    background-color: #000;
    border-radius: 2px;
    
    cursor: pointer;
}#colorbox{
    width: 25px;
    height: 25px;
    background-image: linear-gradient(180deg,#0085F3 0%, #E52C39 100%);
    border-radius: 2px;
    margin-left: 10px;
    cursor: pointer;
}.tav{
    margin-left: 73px;
}#res_tab{
    margin-top: 5%;
}#skin{
    margin-left: 20px;
}#sys{
    background: -webkit-linear-gradient(0deg, #0085F3 0%, #E52C39 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}.aus{
font-weight: bold;
}#right-circle{
    width: 10%;
    margin-top: -7%;
}.off-cir{
    display: flex;
    justify-content: end;
}#right-circle-1{
    width: 4%;
    margin-top: 2%;
}#ball-ima{
    background-image: url('../Assets/image/section.section-spacing-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    margin-top: 5%;
}.benif{
    display: flex;
    justify-content: center;
    text-align: center;
    background: -webkit-linear-gradient(0deg, #B1BFE1 0%, #FFFFFF 29%, #E52C39 55%, #0085F3 85%, #E5E9F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  padding-top: 7%;
  font-size: 19px;
  letter-spacing: 3px;
}.why-trade{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--second-color);
}.clrd{
    width: 20rem;
    height: 17rem !important;
    background-color: #222126 !important;
    border-radius: 20px !important;
    color: #fff;
}.clrd:hover{
    width: 20rem;
    height: 17rem !important;
    /* background-color: #222126 !important; */
    border-radius: 20px !important;
    background-image: linear-gradient(210deg,#0085F3 0%, #E52C39 100%);
    color: #fff;
    cursor: pointer;
}

.card-text-1{
    color: #fff;
    margin-top: 5%;
    font-size: 13px;
    line-height: 24px;
    opacity: .5;
}#land{
    width: 20%;
    padding-top: 20px;
    margin-left: 20px;
}.card-body-1{
    padding-left: 20px;
}.card-title-1{
    color: #fff;
    margin-top: 5%;
}#suss-3 {
    font-size: 14px;
    color: var(--second-color);
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px 20px 20px 20px;
    font-weight: 500;
    background: linear-gradient(#1F2024, #1F2024) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    margin-top: 7%;
  

}


#suss-3:hover {
    background: linear-gradient(#fff,#fff) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    color: var(--third-color);
}
.last-btn{
    display: flex;
    justify-content: center;
}#sop-2{
    margin-top: 15%;
}.cfd{
    font-weight: bolder;

}.ispum{
    margin-top: 2%;
    line-height: 32px;
}.clrds{
    width: 19rem;
    height: 24rem !important;
    background-color:#fff!important;
    border-radius: 20px !important;
    color: #fff;
    box-shadow: 0px 0px 7px #000 !important;
}#world{
    margin-top: -50%;
    padding: 5px 15px 5px 15px;
}.eeur{
    color: black;
    height: 10px;
}.vs{
    color: #000;
    font-size: 12px;
}#flag-name{
    margin-left: 20%;
}#ese{
    margin-left: -25px !important;
}.num{
    color: black;
}#world-1 {
    margin-top: -50%;
    padding: 25px 35px 5px 35px;
}#sop-3{
    margin-top: 8% !important;
}#sop-4{
    margin-top: 3%;
}

/* account */
.trade-2 {
    color: #fff;
    margin-top: 30%;
    font-size: 50px;
    font-weight: bolder;
    background: -webkit-linear-gradient(0deg, #B1BFE1 0%, #FFFFFF 29%, #E52C39 55%, #0085F3 85%, #E5E9F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}.why-trade-1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--third-color);
}.crls{
    width: 20rem;
    height: 27rem !important;
    border-radius: 10px !important;
    background-image: linear-gradient(38.21deg, rgba(229, 44, 57, 0.15) 0.85%, rgba(0, 133, 243, 0.25) 55.96%, rgba(255, 255, 255, 0.8) 99.14%);
}.card-title-2{
    display: flex;
    justify-content: center;
    color: #000;
    font-weight: bolder;
    font-size: 30px;
}.card-text-2{
    display: block;
text-align: center;
font-size: 16px;
color: #000;font-weight: 500;


}#sms{
    border: 2px solid #594444;
  font-weight: bolder;
  padding: 10px 30px 10px 30px;
    color: #594444;
    border-radius: 20px 20px;
}
#sms:hover{
    border: 2px solid #594444;
  font-weight: bolder;
  padding: 10px 30px 10px 30px;
    color: #fff;
    border-radius: 20px 20px;
    background-color: black;
}
.sass{
  padding-top: 20px;
    display: flex;
    justify-content: center;
}#suss-4 {
    font-size: 12px;
    color: var(--second-color);
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px 20px 20px 20px;
    font-weight: 600;
    background: linear-gradient(#1F2024, #1F2024) padding-box,
        linear-gradient(360deg, #E52C39 7.98%, #0085F3 100%) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    margin-top: 7%;

}


#suss-4:hover {
    background: linear-gradient(#000, #000) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    color: var(--second-color);
}.cls{
    background-color: black;
    height: 650px;
}.We{
    padding-top: 20%;
    background: -webkit-linear-gradient(0deg, #B1BFE1 0%, #FFFFFF 29%, #E52C39 55%, #0085F3 85%, #E5E9F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
}.few-our{
    color: #fff;
}.small{
    color: #fff;
}.key{
    color: #fff;
    font-size: 20px;
    margin-top: 5%;
}.algo{
    color: #fff;
    font-size: 12px;
}#box-sqr {
    width: 70%;
    margin-top: 15%;
}.wau{
    font-weight: 600;

}.sita{
    font-size: 13px;
}#tick{
    width: 20px !important;
}.low {
    margin-left: -47px !important;
    font-size: 13px;
    font-weight: 700;
}#handles{
    width: 85%;
}.how{
    font-weight: bolder;
    color: #fff;
    margin-top: 19%;

}.amet{
    color: #fff;
    font-size: 12px;
    line-height: 23px;
}
.clss{
    background-color: #000;
    height: 400px;
}#bit-coin{
    width: 60% !important;
    margin-top: 10%;
   
}.bit{
    display: flex;
    justify-content: center;
}.how-1{
    font-weight: bolder;
    color: #000;
    margin-top: 19%;

}.amet-1{
    color:#000;
    font-size: 12px;
    line-height: 20px;
}.whether{
    font-size: 12px;
}.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    /* padding: 0 !important; */
    font-size: 1rem;
    color: #000;
    font-weight: bolder;
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}.accordion-button:focus {
    z-index: 3;
    border-color: none !important;
    outline: 0;
    box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}.accordion-button:not(.collapsed) {
    color: #000 !important;
    background-color: #fff !important;
    box-shadow: 0 !important;
   

}.accord{
    margin-top: 10%;
}.accordion-button::after {
   
    background-image: url('../Assets/image/svg xxxx.png') !important;
    background-repeat: no-repeat;
    background-size: 100% !important;
   
}.accordion-button:not(.collapsed)::after {
    background-image: url('../Assets/image/Rectangle 34356.png') !important;
    transform: none !important;
    height: 2px;
}#quest{
    margin-top: 15%;
}#box-1{
    margin-top: 19%;
}
/* about */
#ball-1{
    width: 100% !important;
}
.handle-balls-1{
    margin-top: 50%;
}.tare-4 {
    font-size: 16px;
    color: #fff;
}.stroy{
    letter-spacing: 2px;
    background: -webkit-linear-gradient(0deg, #0085F3 0%, #E52C39 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   width: 150px;
}.abou{
    font-weight: 600;
    color: #000;
}.para{
    margin-top: 25px;

}.clr{
    width: 22rem;
    height: 25rem !important;
    box-shadow: 0px 0px 7px gray;
}.card-title-3{
    letter-spacing: 2px;
    background: -webkit-linear-gradient(0deg, #0085F3 0%, #E52C39 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   width: 150px;
   padding-top: 20%;
}.card-text-3{
    font-size: 15px;
}#blls{
    width: 10% !important;
    margin-left: -20px;
}.mid-cirl{
    display: flex;
    justify-content: end;
}#bllss{
    width: 5%;
  
}.clsa{
    background-image: url('../Assets/image/section.section-spacing-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
}.pre{
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    background: -webkit-linear-gradient(0deg, #0085F3 0%, #E52C39 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  padding-top: 7%;
}
.rev{
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: bolder;
}.uran{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    margin-top: 2%;
}.clm{
    width: 55rem;
    margin-top: 2%;
    padding: 45px 0px 45px 0px;
    background-image: linear-gradient(180deg,#0085F3 0%, #E52C39 100%);
    border-radius: 15px !important;
}.d-center{
    display: flex;
    justify-content: center;
}.thus{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    color: #fff;
}.global{
    display: flex;
    justify-content: center;
    color: #fff;
}.smooths{
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    background: -webkit-linear-gradient(0deg, #0085F3 0%, #E52C39 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logos{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    color: #000;
}.enters_name{
    color:#747682 ;
    display: flex;
    justify-content: center;
    font-size: 15px;
}.clrd-1{
  
        width: 20rem;
        height: 21rem !important;
        background-color: white !important;
        border-radius: 20px !important;
       box-shadow: 0px 0px 7px gray;
    
}.card-text-4{
    color: #000;
    margin-top: 5%;
    font-size: 13px;
    line-height: 24px;
    opacity: .5;
}#land-1{
    width: 20%;
    padding-top: 20px;
    margin-left: 20px;
}.card-body-4{
    padding-left: 20px;
}.card-title-4{
    color: #000;
    margin-top: 5%;
}#suss-7 {
    font-size: 14px;
    color: var(--second-color);
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px 20px 20px 20px;
    font-weight: 500;
    background: linear-gradient(#1F2024, #1F2024) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    margin-top: 7%;
  

}


#suss-7:hover {
    background: linear-gradient(#fff,#fff) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    color: var(--third-color);
}#suss-8 {
    font-size: 14px;
    color: var(--third-color);
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px 20px 20px 20px;
    font-weight: 500;
    background: linear-gradient(#fff,#fff) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    margin-top: 7%;
  

}


#suss-8:hover {
    background: linear-gradient(#1F2024, #1F2024) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    color: var(--second-color);
}#blls_1{
    width: 7% !important;
    margin-left: 0px;
}#blls_2{
    width: 20% !important;
    margin-top: -13%;
   
}.blls_2{
    display: flex;
    justify-content: end;
}.black_bx{
    background-color: #000;
    height: 400px;
}#lo_bx{
    width: 15%;
}.log_bx{
    display: flex;
    justify-content: center;
    padding-top: 4%;
}.redy_enter{
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: bolder;
}.takes{
    display: flex;
    justify-content: center;
    color:grey;
    
}#suss-9 {
    font-size: 14px;
    color: var(--second-color);
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px 20px 20px 20px;
    font-weight: 500;
    background: linear-gradient(#1F2024, #1F2024) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    margin-top: 3%;
  

}


#suss-9:hover {
    background: linear-gradient(#fff,#fff) padding-box,
        linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
    color: var(--third-color);
}.new_art{
    background: -webkit-linear-gradient(0deg,#E52C39 0%, #0085F3 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 200px;
    letter-spacing: 2px;
}.kep_up{
    font-weight: bolder;
    
}.con_amet{
    line-height: 27px;
    color: #747682;
}#man_grop {
    width: 100% !important;
}.man {
      padding: 3px 22px 2px 22px;;
 box-shadow: 0px 0px 7px grey;
    width: 69%;
    border-radius: 5px;
}.date{
    color: #747682;
    font-size: 12px;
}.si_am{
    color: #000;
    font-weight: 600;
    font-size: 17px;
}.sit_amit{
    color: #747682;

}.read-more{
    text-decoration-line: none;
    color: #0085F3 !important;

}#lo_img{
    width: 60%;
}.si_am-1{
    color: #000;
    font-weight: 600;
    font-size: 17px;
margin-top:35%;
}.loll{
    margin-top: 13%;
}.tare-4 {
    font-size: 18px;
    color: #fff;
}
/* platform */
.mts-1{
    background: -webkit-linear-gradient(0deg,#E52C39 0%, #0085F3 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 50px;
    margin-top: -45% !important;
}.is_meta{
    font-weight: 600;
    color: #000;
}.sit_con{
    font-size: 14px;
    margin-top: 4%;
}#mt_cirs{
    width: 80%;
    margin-top: -55%;
}.brown_ball{
    background-image: url('../Assets/image/section.section-spacing-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}#two_carem{
    width: 6%;
    margin-top: -10%;
    margin-left: -2%;
}.spans{
    display: flex;
    justify-content: end;
    margin-top: -5%;
}#lap_ph{
    width: 75%;
}.meta_5{
    background: -webkit-linear-gradient(0deg,#E52C39 0%, #0085F3 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 150px;
    letter-spacing: 2px;
}.ad_trade{
    font-weight: 700;
    color: #fff;

}.don{
    font-size: 14px;
    color: #747682;
    margin-top: 4%;
    line-height: 24px;
}#sop-66{
    margin-top: 10%;
}.clms{
    width: 55rem;
    margin-top: 2%;
    padding: 15px 10px 15px 10px;
    background-image: linear-gradient(180deg,#0085F3 0%, #E52C39 100%);
    border-radius: 15px !important;
}.d-centers{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}.os_5{
    color: #fff;
font-size: 18px;
}.for_alls{
    color: #fff;
    font-size: 12px;
}.d_os{
   
    margin-top: 12%;
}#lines{
    border-right: 2px solid #fff;
}#win{
    width: 25%;
    margin-top: 10%;
}.win{
    display: flex;
    justify-content: center;
    height: 50px;
}.windows{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    height: 20px !important;
}.down_mt{
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration-line: none;
    color: #fff !important;
}#gru_fs{
    width: 9%;
}.down_mt:hover{
    color: #000 !important;
}
@media (max-width:578px) {
    .crls{
        margin-top: 20px;
    }
    .clss {
        background-color: #000;
        height: auto;
    }.cls {
        background-color: black;
        height: auto;
    }
    .tav {
        margin-left: 56px;
    }
    .navbar-bg {
        min-height: 55px !important;
        background-color:#000;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    #navbarSupportedContent ul li a {
        margin-left: -60px;
        font-size: 14px;
    }

    .lolo-1 {
        background: -webkit-linear-gradient(0deg, #E52C39 7.98%, #0085F3 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bolder;
        font-style: normal;
        font-size: 45px;
        margin-top: 175px;
    }

    #susm {
        font-size: 12px;
        color: var(--first-color);
        background-color: transparent;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px 20px 20px 20px;
        font-weight: 600;
        background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #E52C39 7.98%, #0085F3 100%) border-box;
        border-radius: 50em;
        border: 2px solid transparent;
        margin-top: 6%;
    }

    .trade {
        color: #fff;
        margin-top: 40%;
        font-size: 48px;
        font-weight: bolder;
        background: -webkit-linear-gradient(0deg, #B1BFE1 0%, #FFFFFF 29%, #E52C39 55%, #0085F3 85%, #E5E9F9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #cir {
        width: 100%;
        margin-top: 20px;
    }

    #cir-1 {
        margin-top: 80px;
        width: 100%;
    }

    #con-up {
        padding: 25px 0px 15px 45px;
        position: absolute;
        margin-top: 0px;
        margin-left: -2%;
        border-radius: 15px 15px 15px 15px;
        background-color: #303138;
        width: 100%;
    }

    #down {
        margin-top: -65px;
    }

    .atb {
        color: #fff;
        margin-left: 0px;
        margin-top: 80px;
        font-size: 17px;
    }

    .fd {
        margin-left: 0%;
    }

    .py {
        color: #e3dcdc;
        font-size: 13px;
        line-height: 30px;
        margin-left: -30px;
    }

    .pys {
        width: 125%;
    }
    #balc {
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #000 !important;
        height: auto;
        background-size: 100%;
    }

    #spot {
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        height: 900px;
        background-size: 100%;
        background-color: #000 !important;
    }

    .dolloer {
        display: flex;
        justify-content: center;
    }

    .regu {
        font-size: 19px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .we {
        font-size: 12px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #sua {
        display: flex;
        justify-content: center;
    }

    .have {
        color: #fff;
        display: flex;
        justify-content: center;
    }

    .ours {
        color: #fff;
        display: flex;
        justify-content: center;
    }

    #co {
        display: flex;
        justify-content: center;
    }

    #eo {
        margin-left: -15%;
    }

    .flag {
        width: 8%;
    }

    #su-1 {
        font-size: 9px;
        color: var(--second-color);
        background-color: transparent;
        padding-left: 20px;
        padding-right: 20px;
        border: 2px solid gray !important;
        font-weight: 600;
        border-radius: 20px 20px 20px 20px;
        margin-left: -82px;
    }#bla {
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #000 !important;
        height:auto;
        background-size: 100%;
    }#ball-ima {
        background-image: url(../Assets/image/section.section-spacing-1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 2000px;
        margin-top: 5%;
    }.clrd{
        margin-top: 20px;
    }.clrds{
        margin-top: 27%;
    }.ispum {
        margin-top: 2%;
        line-height: 32px;
        font-size: 14px;
    }.clsa {
        background-image: url(../Assets/image/section.section-spacing-2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 750px;
    }#lo_bx {
        width: 40%;
    }.si_am-1 {
        color: #000;
        font-weight: 600;
        font-size: 17px;
        margin-top: 13%;
    }.clrd-1{
        margin-top: 20px;
    }
}

@media (min-width:1500px) and (max-width:1890px) {
    .pys {
        width: 115%;
    }
    .fd {
        margin-left: 5%;
    }
    #bla {
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #000 !important;
        height: 635px;
        background-size: 100%;
    }
    #con-up {
        padding: 25px 0px 15px 45px;
        position: absolute;
        margin-top: -65px;
        margin-left: 13%;
        border-radius: 15px 15px 15px 15px;
        background-color: #303138;
        width: 75%;
    }

    #balc {
        background-image: url('../Assets/image/Rectangle 1.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 1075px;
        background-size: 100%;
    }#box {
        width: 70%;
        margin-top: 100px;
    }.black_bx {
        background-color: #000;
        height: 450px;
    }
}

@media (min-width:1300px) and (max-width:1490px) {
    .pys {
        width: 115%;
    }

    .fd {
        margin-left: 10%;
    }

    #con-up {
        padding: 25px 0px 15px 45px;
        position: absolute;
        margin-top: -65px;
        margin-left: 5%;
        border-radius: 15px 15px 15px 15px;
        background-color: #303138;
        width: 90%;
    }

    #balc {
        background-image: url('../Assets/image/Rectangle 1.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 895px;
        background-size: 100%;
    }.black_bx {
        background-color: #000;
        height: 450px;
    }
}

@media(min-width:1900px) {
    .pys {
        width: 115%;
    }

    .fd {
        margin-left: 5%;
    }

    #con-up {
        padding: 25px 0px 15px 45px;
        position: absolute;
        margin-top: -65px;
        margin-left: 15%;
        border-radius: 15px 15px 15px 15px;
        background-color: #303138;
        width: 100%;
    }

    #balc {
        background-image: url('../Assets/image/Rectangle 1.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 1210px;
        background-size: 100%;
    }#right-circle {
        width: 10%;
        margin-top: -6%;
    }#bla {
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #000 !important;
        height: 580px;
        background-size: 100%;
    }#box {
        width: 70%;
        margin-top: 100px;
    }#sop-1 {
        margin-top: 0%;
    }.clsa {
        background-image: url(../Assets/image/section.section-spacing-2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 700px;
    }.black_bx {
        background-color: #000;
        height: 460px;
    }
}